body{
  background-image:url(assets/aron-visuals-BXOXnQ26B7o-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.clockcontainer{
  backdrop-filter:blur(5px);
  width: 100vh;
  padding: 15px 0;


}
.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px rgba(139, 130, 130, 0.367);
  text-align: center;

}